 *{
     text-align: center;
 }
 .card{
  background-color: lightblue;
}
.item{

    display: flex;
    height: 6vh;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 35px;
    background-color: ghostwhite;
}